@using ETICARET.WebUI.Models
@model ProductListModel

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                
            }
        </div>
    </div>
</div>
