
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ForgotPassword">   
            <div class="form-group">
                <label  class="control-label">Email</label>
                <input name="Email" type="text" class="form-control" />               
            </div>           

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>